# Carpeta con salidas generadas automáticamente
/output/

# Entornos virtuales de Python
venv/
.env/
.venv/

# Archivos temporales o de sistema
*.pyc
__pycache__/
.DS_Store

# Archivos de configuración local
config.json
youtube_token.json
client_secrets.json

# Logs
*.log

# Archivos de notebook generados con salida
*.ipynb_checkpoints

# Carpetas ocultas y backup de editores
*.swp
*.bak
.idea/
.vscode/
